# pnpm configuration
registry=http://10.254.11.100:4873/
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
prefer-workspace-packages=true
link-workspace-packages=true
enable-pre-post-scripts=true 